<template>
  <div class="app-main">
    <div class="app-layout">
      <div class="page-content">
        <form class="form-card" @submit.prevent="onSubmitForm">
          <div class="form-content">
            <div class="input-field">
              <input
                v-model="email"
                placeholder="Почта"
                type="email"
                required
              />
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="submit-button">Подтвердить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { CONSTANTS } from '@/utils/constants'

export default {
  name: 'EnterEmailForResetPassword',
  data() {
    return {
      email: '',
    }
  },
  methods: {
    async onSubmitForm() {
      console.log('EMAIL =', this.email)
      try {
        const response = await axios.post(
          CONSTANTS.AUTH_PASSWORD_RESET_LINK_SEND(),
          {
            email: this.email,
          }
        )
        console.log('Response =', response)
        this.$router.push('/pages/success')
      } catch (error) {
        console.log('Error =', error)
      }
    },
  },
}
</script>
