<template>
  <div class="app-main">
    <div class="app-layout">
      <div class="page-content">
        <form class="form-card" @submit.prevent="onSubmitForm">
          <div class="form-content">
            <div class="input-field">
              <input
                v-model="password"
                placeholder="Новый пароль"
                type="text"
                required
              />
            </div>
            <div class="input-field">
              <input
                v-model="confirmPassword"
                placeholder="Повторите пароль"
                type="text"
                required
              />
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="submit-button">Подтвердить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { CONSTANTS } from '@/utils/constants'

export default {
  name: 'EnterNewPassword',
  data() {
    return {
      password: '',
      confirmPassword: '',
    }
  },
  created() {
    console.log('SERVER_URL =', this.$config.SERVER_URL)
    console.log('PARAMS =', this.$route.query.xyz)
  },

  methods: {
    async onSubmitForm() {
      console.log('PASSWORD =', {
        password: this.password,
        confirmPassword: this.confirmPassword,
      })

      try {
        const response = await axios.post(
          CONSTANTS.AUTH_PASSWORD_RESET_CONFIRM(),
          {
            password: this.password,
            confirmPassword: this.confirmPassword,
          },
          {
            params: this.$route.query,
          }
        )
        console.log('Response =', response)
        this.$router.push('/pages/success')
      } catch (error) {
        console.log('Error =', error)
        this.$router.push('/pages/decline')
      }
    },
  },
}
</script>
