*,
*:before,
*:after,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

*:focus {
    outline: none;
}

body {
    text-align: center;
    overflow-x: hidden;
    background: #f8f8fd;
}

#app {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20vh;
}

.app-main {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20vh;
}

.app-layout {
    padding-top: 20vh;
    padding: 36px 22px 56px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    max-width: 400px;
    width: 100%;
    background: white;

    .page-title {
        position: relative;
        font-size: 30px;
        font-weight: 500;
        color: #000;
        text-align: center;
    }
    .page-content {
        width: 100%;
        margin-top: 38px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form-card {
        width: 100%;
        max-width: 400px;
        .form-content {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
            padding: 0 12px;
            .input-field {
                width: 100%;
                padding-bottom: 28px;

                input,
                textarea,
                input[type='text']:not(.browser-default) {
                    padding: 14px 20px 10px 20px;
                    border: 2px solid #eceef2;
                    width: 100%;
                    border-radius: 14px;
                    font-size: 20px;
                    transition: all 0.2s ease-in-out;
                    &:focus {
                        transition: all 0.2s ease-in-out;
                        border-color: #a97ae3;
                        outline: none;
                    }
                    ::placeholder {
                        font-size: 18px;
                        color: grey;
                        opacity: 1;
                    }
                }
                &.error {
                    input,
                    textarea,
                    input[type='text']:not(.browser-default) {
                        border-color: #dc3d3d !important;
                    }
                }
            }
        }
        .form-actions {
            margin-top: 20px;
            width: 100%;
            .submit-button {
                transition: all 0.2s ease-in-out;
                box-shadow: 0px 10px 30px rgba(114, 82, 241, 0.4);
                background: linear-gradient(0.6deg, #4f7bff, #a97ae3);
                color: white;
                border-radius: 14px;
                width: 100%;
                cursor: pointer;
                font-size: 20px;
                letter-spacing: 2px;
                line-height: 1;
                padding: 16px 24px !important;
                font-weight: 500;
                text-align: center;
                white-space: nowrap;
                text-decoration: none;
                border-width: 0;
                outline: 0;
                transform: scale(1);
            }
            .submit-button:hover {
                transition: all 0.2s ease-in-out;
                box-shadow: 0px 10px 30px rgba(114, 82, 241, 0.2);
            }
            .submit-button:active {
                background: linear-gradient(0.6deg, #4a73ee, #a97ae3);
                transition: all 0.1s ease-in-out;
                transform: scale(0.98);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        background: white;
        .app-layout {
            padding: 12px;
            .input-field {
                margin-top: 10px;
                input {
                    padding: 14px 8px 8px 16px !important;
                    width: 100%;
                    border-radius: 12px;
                }
                ::placeholder {
                    font-size: 16px;
                    color: grey;
                    opacity: 1;
                }
                input[type='text']:not(.browser-default) {
                    padding: 14px 8px 8px 16px !important;
                    font-size: 16px;
                }
            }
        }
    }
}
